In [1]:
import pandas as pd
from IPython.display import display
import pickle
import tensorflow

In [6]:
with open("/content/drive/MyDrive/Other Projects/BTCUSD_1day.pickle", \
          "rb") as f:
      df \
      = pickle.load(f)

#df = df.drop(['Date', 'Symbol'], axis=1)

df

,Symbol,Open,High,Low,Close,Volume,sma40,OBV
Date,,,,,,,,
2015-10-08,BTCUSD,242.50,245.00,242.50,243.95,18.80,0.00000,0.00
2015-10-09,BTCUSD,243.95,249.97,243.60,245.39,30.99,0.00000,30.99
2015-10-10,BTCUSD,245.39,246.30,244.60,246.30,12.17,0.00000,43.16
2015-10-11,BTCUSD,246.30,249.50,246.30,249.50,12.22,0.00000,55.38
2015-10-12,BTCUSD,249.50,249.50,247.60,247.60,38.28,0.00000,17.10
...,...,...,...,...,...,...,...,...
2020-04-06,BTCUSD,6775.21,7369.76,6771.01,7336.96,3727.47,7009.73250,402187.43
2020-04-07,BTCUSD,7336.96,7468.42,7078.00,7201.81,2333.34,6969.53125,399854.09
2020-04-08,BTCUSD,7201.81,7432.23,7152.80,7369.60,2483.60,6936.14925,402337.69
2020-04-09,BTCUSD,7369.60,7378.85,7115.04,7315.25,2237.13,6905.90225,400100.56
2020-04-10,BTCUSD,7315.25,7315.25,7315.25,7315.25,0.00,6875.57350,0.00

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df_train = df.sample(frac=0.7, random_state=0)
df_valid = df.drop(df_train.index)

max_ = df_train.max(axis=0)
min_ = df_train.min(axis=0)

df_train = (df_train - min_) / (max_ - min_)
df_valid = (df_valid - min_) / (max_ - min_)

X_train = df_train.drop('Position', axis=1)
X_valid = df_valid.drop('Position', axis=1)
y_train = df_train['Position']
y_valid = df_valid['Position']

NameError: name 'df' is not defined

In [ ]:
from tensorflow import keras
from tensorflow.keras import layers

model = keras.Sequential([
    layers.Dense(4, activation='relu', input_shape=[33]),
    layers.Dense(4, activation='relu'),    
    layers.Dense(1, activation='sigmoid'),
])

ModuleNotFoundError: No module named 'tensorflow'