Install Dependencies

In [13]:
# Processing libraries
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

#Imports pickle
import pickle

#Library for indicators
from finta import TA

#Another library for indicators
from ta.utils import dropna
from ta.volatility import BollingerBands
from ta.trend import PSARIndicator
from ta.trend import SMAIndicator
from ta.trend import macd
from ta.momentum import rsi
from ta.volume import OnBalanceVolumeIndicator

#Import yfinance
import yfinance as yf

Selects the dataframe for training

In [10]:
#Downloads dataframe from internet

df = yf.download(tickers="BTC-USD",
                            period="15y",
                            interval="1d",
                            auto_adjust=True)

[*********************100%***********************]  1 of 1 completed

In [12]:

#Loads dataframe from folder

#df = pd.read_csv('/Users/esteban/Documents/GitHub/Reinforcement_Learning_Binary_Options_Bot/BTCUSD_10y_tagged.pickle')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x80 in position 0: invalid start byte

Data Cleanup

In [3]:
#print(df.dtypes)

#Convert date
#df['Date'] = pd.to_datetime(df['Date'])

#Sort values from past to present
#df.sort_values('Date', ascending=True, inplace=True)

#Set date as index
#df.set_index('Date', inplace=True)

#Converts volume from string to float
#df.drop('Volume', inplace=True, axis=1)
#df['Volume'] = df['Volume'].apply(lambda x: float(x.replace(",", "")))
#df['Volume'] = df['Volume'].astype(float)


#Preparation for hourly df
#df = df.drop(columns=['Symbol'])
#df = df.drop(columns=['Unix Timestamp'])
#df = df.drop(columns=['Volume'])

#Preparation for downloaded df

df = df.reset_index(drop=True)
df = df.drop(columns=['Volume'])

'''
#Preparation for daily dataset
df = df.drop(columns=['Volume USD'])
df = df.rename(columns={'Volume BTC': 'Volume'})
'''

print(df.shape[0])
print(df.dtypes)

df.head()

2938
Open     float64
High     float64
Low      float64
Close    float64
dtype: object

         Open        High         Low       Close
0  465.864014  468.174011  452.421997  457.334015
1  456.859985  456.859985  413.104004  424.440002
2  424.102997  427.834991  384.532013  394.795990
3  394.673004  423.295990  389.882996  408.903992
4  408.084991  412.425995  393.181000  398.821014

2.1.3. Calculate SMA, RSI and OBV

In [4]:

#Indicators with TA
#Adds simple moving average
df["sma7"] = SMAIndicator(close=df["Open"], window=7, fillna=True).sma_indicator()
df["sma25"] = SMAIndicator(close=df["Open"], window=25, fillna=True).sma_indicator()
df["sma50"] = SMAIndicator(close=df["Open"], window=40, fillna=True).sma_indicator()
df["sma99"] = SMAIndicator(close=df["Open"], window=99, fillna=True).sma_indicator()

'''
#Adds Bollinger Bands
indicator_bb = BollingerBands(close=df["Open"], window=20, window_dev=2)
df['bb_bbm'] = indicator_bb.bollinger_mavg()
df['bb_bbh'] = indicator_bb.bollinger_hband()
df['bb_bbl'] = indicator_bb.bollinger_lband()

#Adds PSAR Indicator
indicator_psar = PSARIndicator(high=df["Close"], low=df["Low"], close=df["Close"], step=0.02, max_step=2, fillna=True)
df['psar'] = indicator_psar.psar()

# Add Moving Average Convergence Divergence (MACD) indicator
df["MACD"] = macd(close=df["Close"], window_slow=26, window_fast=12, fillna=True)
    
# Add Relative Strength Index (RSI) indicator
df["RSI"] = rsi(close=df["Close"], window=14, fillna=True)
'''


# Add Relative Strength Index (RSI) indicator
#df["OBV"] = TA.OBV(df)

#Drops empty spaces
df.fillna(0, inplace=True)

#Drops empty spaces
df.head(50)

,Open,High,Low,Close,sma7,sma25,sma50,sma99
0,465.864014,468.174011,452.421997,457.334015,465.864014,465.864014,465.864014,465.864014
1,456.859985,456.859985,413.104004,424.440002,461.362000,461.362000,461.362000,461.362000
2,424.102997,427.834991,384.532013,394.795990,448.942332,448.942332,448.942332,448.942332
3,394.673004,423.295990,389.882996,408.903992,435.375000,435.375000,435.375000,435.375000
4,408.084991,412.425995,393.181000,398.821014,429.916998,429.916998,429.916998,429.916998
5,399.100006,406.915985,397.130005,402.152008,424.780833,424.780833,424.780833,424.780833
6,402.092010,441.557007,396.196991,435.790985,421.539573,421.539573,421.539573,421.539573
7,435.751007,436.112000,421.131989,423.204987,417.237714,423.316002,423.316002,423.316002
8,423.156006,423.519989,409.467987,411.574005,412.422860,423.298225,423.298225,423.298225
9,411.428986,414.937988,400.009003,404.424988,410.612287,422.111301,422.111301,422.111301
10,403.556000,406.622986,397.372009,399.519989,411.881287,420.424455,420.424455,420.424455
11,399.471008,401.016998,374.332001,377.181000,410.650718,418.678335,418.678335,418.678335
12,376.928009,385.210999,372.239990,375.467010,407.483289,415.466771,415.466771,415.466771
13,376.088013,390.976990,373.442993,386.944000,403.768433,412.654003,412.654003,412.654003
14,387.427002,391.378998,380.779999,383.614990,396.865003,410.972203,410.972203,410.972203
15,383.988007,385.497009,372.946014,375.071991,391.269575,409.285690,409.285690,409.285690
16,375.181000,377.695007,357.859009,359.511993,386.091291,407.279532,407.279532,407.279532
17,359.891998,364.487000,325.885986,328.865997,379.853577,404.646891,404.646891,404.646891
18,328.915985,341.800995,289.295990,320.510010,369.774288,400.661054,400.661054,400.661054
19,320.389008,345.134003,302.559998,330.079010,361.697287,396.647452,396.647452,396.647452
20,330.584015,339.247009,320.481995,336.187012,355.196716,393.501574,393.501574,393.501574
21,336.115997,354.364014,327.187988,352.940002,347.866573,390.893139,390.893139,390.893139
22,352.747986,382.726013,347.687012,365.026001,343.403713,389.234654,389.234654,389.234654
23,364.687012,375.066986,352.963013,361.562012,341.904572,388.211835,388.211835,388.211835
24,361.362000,367.191010,355.950989,362.299011,342.114572,387.137842,387.137842,387.137842
25,362.605988,379.433014,356.144012,378.549011,346.927429,383.007521,386.194309,386.194309
26,377.920990,397.226013,368.897003,390.414001,355.146284,379.849961,385.887890,385.887890
27,391.691986,411.697998,391.324005,400.869995,363.875994,378.553521,386.095179,386.095179
28,400.954987,402.226990,388.765991,394.773010,373.138707,378.804800,386.607586,386.607586
29,394.518005,398.807007,373.070007,382.556000,379.105852,378.262120,386.871267,386.871267
30,382.756012,385.477997,375.389008,383.757996,381.687138,377.608361,386.738517,386.738517
31,383.976013,395.157990,378.971008,391.441986,384.917712,376.883721,386.652188,386.652188
32,391.253998,393.938995,386.457001,389.545990,389.010284,375.103840,386.791637,386.791637
33,389.230988,390.084015,378.252014,382.845001,390.625998,373.746840,386.863383,386.863383
34,382.420990,392.645996,380.834015,386.475006,389.301570,372.586520,386.736457,386.736457
35,386.118011,388.575989,382.248993,383.157990,387.182002,371.889000,386.719278,386.719278
36,382.962006,385.048004,356.446991,358.416992,385.531145,371.228640,386.617730,386.617730
37,358.591003,364.345001,353.304993,358.345001,382.079001,370.495160,385.880185,385.880185
38,358.610992,359.860992,342.877014,347.270996,378.455427,369.796079,385.180975,385.180975
39,347.487000,359.221008,343.931000,354.704010,372.202999,368.198479,384.238625,384.238625
40,354.777008,358.631989,349.808990,352.989014,367.281001,367.030039,381.461450,383.520049
41,353.214996,359.984009,352.678986,357.618011,363.108717,366.151399,378.870325,382.798500
42,357.088989,357.833008,335.342987,335.591003,358.961714,366.039279,377.194975,382.200605
43,335.709015,350.912994,335.071991,345.304993,352.211286,366.311000,375.720876,381.143978
44,345.009003,348.045013,337.141998,338.321014,350.271000,367.295800,374.143976,380.340978
45,338.649994,340.528992,321.054993,325.748993,347.419429,367.618439,372.632726,379.434653
46,326.075012,329.049988,320.626007,325.891998,344.360574,367.216799,370.732301,378.299341
47,325.569000,334.002014,325.480988,327.553986,340.188001,366.129640,367.977750,377.200792
48,327.161011,331.766998,325.076996,330.492004,336.466003,364.628600,365.577876,376.179572
49,330.683014,343.368988,330.683014,339.485992,332.693721,363.401440,363.559226,375.269641

In [5]:
#add a column to dataframe
df.drop(df.tail(1).index,inplace=True)
df['Position'] = np.where((df['Open']-df['Close'].shift(-1)) < 1, 1, 0)

#df["Position"] = df['Open'] - df['Close'].shift(-1)

In [6]:
df = df.reset_index(drop=True)

Dump dataset into a pickle file

In [7]:
import pickle
with open("BTCUSD_10y_tagged.pickle", 'wb') as f:
      pickle.dump(df,f, pickle.HIGHEST_PROTOCOL)